.Modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(49, 45, 45, 0.9);
}

.Modal__blur {
  width: 100%;
  height: 100%;
  position: absolute;
}

.Modal__wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  pointer-events: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal__container {
  min-width: 300px;
  max-width: 360px;
  min-height: 500px;
  pointer-events: all;
  color: #4e4a4a;
  background-color: rgba(19, 17, 17, 0.7);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.Modal__header {
  letter-spacing: 0.3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c5bebe;
  background-color: #801c45;
}

.Modal__title {
  font-size: 10px;
  max-width: 70%;
}

.Modal__close {
  outline: 0;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  color: #e2bce7;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.Modal__close:hover {
  color: #dbd3d3;
}

.Modal__footer {
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
  display: grid;
  row-gap: 0.3rem;
}

@media (min-width: 400px) {
  .Modal__container {
    min-width: 360px;
    max-width: 400px;
  }

  .Modal__title {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .Modal__container {
    min-width: 400px;
    max-width: 500px;
    min-height: 700px;
  }
}

@media (min-width: 800px) {
  .Modal__container {
    min-width: 600px;
    min-height: 900px;
  }
}

@media (min-width: 1000px) {
  .Modal__container {
    min-width: 800px;
    min-height: 900px;
  }

  .Modal__title {
    max-width: unset;
  }
}

@media (min-width: 1400px) {
  .Modal__container {
    min-width: 1200px;
    min-height: 900px;
  }
}
