.Toggle {
  display: flex;
  align-items: center;
}

.Toggle__input {
  height: 40px;
  opacity: 0;
  position: absolute;
  justify-self: stretch;
  cursor: pointer;
}

.Toggle__button {
  border: 0;
  outline: 0;
  background-color: transparent;
  display: grid;
  row-gap: 3px;
}

.Toggle__button::before,
.Toggle__button::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  clip-path: circle(40%);
  transition: background-color 0.3s ease-in-out;
}

.Toggle__button::before {
  background-color: whitesmoke;
  pointer-events: none;
}

.Toggle__button::after {
  background-color: #d293d8;
  pointer-events: all;
}

.Toggle__input:checked ~ .Toggle__button::before {
  background-color: #d293d8;
  pointer-events: all;
}

.Toggle__input:checked ~ .Toggle__button::after {
  background-color: whitesmoke;
  pointer-events: none;
}